<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="{% url 'index' %}" class="navbar-brand">Home</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="{% url 'pdf' %}" class="nav-item nav-link">PDF/TXT Converter</a>
            <a href="{% url 'txt' %}" class="nav-item nav-link">TXT/JSON Converter</a>
        </div>
    </div>


</nav>